*,
*:before,
*:after {
    box-sizing: border-box;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300;700&display=swap');

/* fonts */

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: rgb(216, 216, 216);

    font-family: 'Roboto Condensed', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding:0;
}
a {
    text-decoration: none;
    color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* colors */

:root {
    --red-color:rgb(141, 0, 0);
    --green-color:rgb(59, 170, 44);
    --padding-sections:30px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: rgba(255, 255, 255, 0.671);

    -webkit-box-shadow: 0px 0px 14px 1px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 0px 0px 14px 1px rgba(34, 60, 80, 0.4);
    box-shadow: 0px 0px 14px 1px rgba(34, 60, 80, 0.4);
}

/* Header */


.header {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}

/* About */
.about {
    display: flex;
    margin: 100px 0;
}

.about__photo {
    width: 100%;
    max-width: 400px;
    height: 100%;
    border-radius: 20px;
    margin-right: 30px;
}

.about--discription {
    padding: 10px;
}

.discription {
    font-size: 20px;
    margin-bottom: 3px;
}

.my__name, .my__age, .my__experience {
    margin-bottom: 10px;
}

.about__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
}

/* My Target */
.section {
    position: relative;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: var(--padding-sections);

    border: 3px solid transparent;
    border-image: linear-gradient(#e66465, #9198e5);
    -moz-border-image: -moz-linear-gradient(#e66465, #9198e5);
    -webkit-border-image: -webkit-linear-gradient(#e66465, #9198e5);
    border-image-slice: 1;
}
.section__title {
    text-align: center;
}

.list_wrapper {
    display: flex;
    justify-content: center;
}

.section--list {
    margin: 30px 0;
    list-style: inside;
    font-size: 18px;
    font-weight: 700;
    color: var(--red-color);

    font-family: 'Lobster', cursive;
}

.list__item:not(:last-child){
    margin-bottom: 10px;
}

.green-color {
    color: var(--green-color);
}

/* Courses */
.course {
    padding:var(--padding-sections);

    border: 3px solid transparent;
    border-image: linear-gradient(#e66465, #9198e5);
    -moz-border-image: -moz-linear-gradient(#e66465, #9198e5);
    -webkit-border-image: -webkit-linear-gradient(#e66465, #9198e5);
    border-image-slice: 1;

    margin-bottom: 30px;
}

.course__title {
    text-align: center;
    margin-bottom: 30px;
}

.course__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    padding:0 30px 15px;
    width: 70%;
    margin: 0 auto;
}

.course__header--name {
    font-size: 20px;
}

.course__content {
    width: 70%;
    margin: 15px auto;
}

.course__list {
    padding:0 40px;
    color: #000;
    font-size: 18px;
}

.course--list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.get__course {
    text-decoration: underline;
    background-image: none;
    width: 20%;

    transition: all .3s linear;
}

.get__course:hover {
    text-decoration: none;
    color:red;
    transition: all .3s linear;
}

.author {
    width: 35%;
}

/* Contacts */
.footer {
    padding: var(--padding-sections);

    border: 3px solid transparent;
    border-image: linear-gradient(#e66465, #9198e5);
    -moz-border-image: -moz-linear-gradient(#e66465, #9198e5);
    -webkit-border-image: -webkit-linear-gradient(#e66465, #9198e5);
    border-image-slice: 1;
}

.contacts__title {
    text-align: center;
    margin-bottom: 20px;
}

.contacts--social {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.social__link {
    display: grid;
    justify-items: center;
}

@keyframes zoom-img{
    0% {
        width: 45px;
    }
    
    100% {
        width: 50px;
    }
}

.social__img {
    width: 100%;
    max-width: 50px;
}

.social__img:hover {
    animation-name: zoom-img;
    animation-duration: .5s;
    animation-timing-function: linear;
}

.telegramm_title {
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}


/* Media */

@media (max-width:1000px) {
    .about__photo {
        display: none;
    }
}

@media (max-width:700px) {
    .course--list__item {
        margin-bottom: 20px;
    }

    .social__img {
        width: 40px;
    }
}